[Unit]
Description=Node.js MQTT2SQL Logger

[Service]
ExecStart=/path-to-script/mqtt2sql.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/path-to-script

[Install]
WantedBy=multi-user.target
